{% extends 'home.html' %}
{% load static %}

{% block content %}

<h1 class="container mt-3">Welcome to {{recipe.name}} Recipe</h1>
<body>
    <div class="container mt-5">
        <img src="{{recipe.image}}" class="img-responsive" style="height:200px" alt="{{recipe.name}}">
        <p class="mt-3">{{recipe.intro}}</p>
        <h5>Ingredients:</h5><p class="mt-3">{{recipe.ingredients}}</p>
        <h5>Directions:</h5><p class="mt-3">{{recipe.directions}}</p>
        <h5>Recipe Tip:</h5><p class="mt-3">{{recipe.tip}}</p>
        <a href="{% url 'home' %}" class="btn btn-info mt-5">Back to Home</a>
    </div>
</body>

{% endblock content %}


